.users h1{
    text-align: center;
}

.userGrid{
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 5px;

    height: auto;
    margin-bottom: 5px;
}
.userGrid_left{
    text-align: center;
}
.userGrid_left img{
    width: 36px;
    height: auto;
    justify-content: center;
}
.userGrid_right{
    display: grid;
    grid-template-columns: auto  auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-content: space-between;

    width: 75%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.follow{
    border-radius: 5px;
}

.userGrid:hover .userGrid_right, .userGrid:hover .follow{
    background-color: aqua;
    color: aliceblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transition: all .5s ease;
}

.pagination{
    text-align: center;
    font-size: 16px;
}

.pagination span{
    margin: 0 3px 0 3px;
}

.pagination span:hover{
    color: cyan;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease;
}

.active{
    font-weight: bold;
    font-size: 16px;
    margin: 0 2px 0 2px;
}
