.describe{
    padding: 20px;
}
.describe img{
    width: auto;
}

.aboutMe{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.aboutMe h2{
    color: black;
}

ul li {
    float: left;
    margin-right: 12px;
    list-style-type: none;
}