.describe{
    padding: 20px;
}
.describe img{
    width: auto;
}

.aboutMe_grid{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.aboutMe_grid h2{
    color: black;
}

ul li {
    float: left;
    margin-right: 12px;
    list-style-type: none;
}

.status span:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}