.appWrapper__nav{
    margin-bottom: 21px;
}
.item{
    color: white;
    text-decoration: none;
}

.item.active{
    color: gold;
    text-decoration: underline;
}

.item:hover{
    color: aqua;
    transition: all .5s ease;
}