.app-wrapper{
  display: grid;

  grid-template-areas: 
    "header header"
    "sidebar article"
    "footer footer";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;

  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
}
.sidebar{
  grid-area: sidebar;
  background-color: darkgreen;
  padding: 20px;
}
.article{
  grid-area: article;
  padding:0 0 20px 20px;
}
.footer{
  grid-area: footer;
}
